#home{
	margin-top: 30px;
}
.proexp-pad{
	padding-right: 10px;
}
.proexp-pad-left-time{
	padding-left: 40px;	
}
.proexp-pad-left{
	padding-left: 3em;	
}
.gray{
	background-color: #e4e4e4!important;
}
footer{
	background-color: #e9e9e9!important;
	padding: 20px 0!important;	
}
.btn{
	padding: 12px 24px;
    font-size: 20px;
}

h3{
	font-size: 20px;
}
.col-sm-6 h2{
	margin-bottom: 2em!important;
}
#home h2{
	color: #c7c7c7;
}
@media only screen and (max-width: 414px) {
	.mobhide{
		display: none;
	}
}